@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

//TO-DO: jow to add the icon?

* {
  font-family: $font;
}

.button__btn {
  border-style: none;
  background-color: $primary-color-btn;
  color: $primary-color-background;
  width: 100%;
  height: 2.5rem;
  border-radius: 0.25rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: $secondary-color-btn-hover;
    box-shadow: 0px 0.25rem 0.25rem rgb(0 0 0 / 20%);
  }

  @include tablet {
    width: 9.375rem;
  }
}
