@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

* {
  font-family: $font;
}

.video {
  padding: 0 1rem;

  &__title {
    color: $primary-color;
    padding: 1.5rem 0;
    text-align: left;
    font-weight: $demi;
  }

  &__info {
    @include divider-top;
    @include divider-bottom;
    padding: 0.5rem 1rem;
  }

  &__subtitle {
    display: flex;
    align-items: center;
    padding: 0.5rem 0;
    color: $primary-color;
  }

  &__channel,
  &__date {
    flex-grow: 1;
    text-align: left;
  }

  &__channel {
    font-weight: $demi;
  }

  &__wrapper {
    display: flex;
    padding-right: 1.875rem;
  }

  &__view {
    padding-right: 0.5rem;
  }

  &__like {
    padding-right: 0.75rem;
  }

  &__numbers,
  &__date {
    color: $primary-color-neutral;
  }

  &__numbers-likes {
    padding-right: 0.625rem;
    color: $primary-color-neutral;
  }

  &__description {
    padding: 1rem 0;
    text-align: left;
  }

  &__comments {
    text-align: left;
    font-weight: $demi;
  }
}

.player {
  &__video {
    width: 100%;
  }
}
