@use "./variables" as *;
@use "./fonts" as *;

//Break-points
@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}

//Avatar Mobile
@mixin avatarMobile {
  height: 2.25rem;
  width: 2.25rem;
  border-radius: 50%;
  object-fit: cover;
}

@mixin avatar {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  object-fit: cover;
}

@mixin divider-top {
  border-top: 1px solid $secondary-color-neutral;
}

@mixin divider-bottom {
  border-bottom: 1px solid $secondary-color-neutral;
}

@mixin textarea {
  display: block;
  font-family: "Avenir Next", Arial, sans-serif;
  font-size: 0.8125rem;
  color: $secondary-color;
  background-color: $secondary-color-background;
  border-radius: 0.25rem;
  padding: 0.75rem;
  border: 1px solid $secondary-color-neutral;
  transition: background-color 0.5s ease-out;
  width: 100%;
  resize: none;

  &:focus {
    outline: none !important;
    border-color: $primary-color-btn;
  }

  &::-webkit-input-placeholder {
    color: $primary-color;
  }
}
