@use "./variables" as *;
@use "./fonts" as *;

//Break-points
@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}

//Avatar Mobile
@mixin avatarMobile {
  height: 2.25rem;
  width: 2.25rem;
  border-radius: 50%;
  object-fit: cover;
}

@mixin avatar {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  object-fit: cover;
}

@mixin divider-top {
  border-top: 1px solid $secondary-color-neutral;
}

@mixin divider-bottom {
  border-bottom: 1px solid $secondary-color-neutral;
}
