//Primary Colors
$primary-color: #323232; //BrainFlix-Black
$primary-color-background: #ffffff; //White
$primary-color-neutral: #afafaf; //Silver
$primary-color-btn: #0095ff; //BrainFlix-Blue

//Secondary Colors:
$secondary-color: #000000; //BrainFlix-DarkBlack
$secondary-color-btn-hover: #0065ad; //BrainFlix-DarkBlue
$secondary-color-neutral: #e1e1e1; //Mercury
$secondary-color-background: #fafafa; //Alabaster

//Media Query Breakpoints:
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
